#root{
    width: 100%;
    height: 100%;
    .layout-wrap{
        width: 100%;
        height: 100%;
        min-width: 1200px;
        overflow-x: auto;
    }
}
.layout-header{
    padding: 0 20px;
    .App-logo{
        width: 120px;
        height: 40px;
    }
}
.layout-content{
    padding: 15px;
    background: #ffffff;
}