.head-wrap{
    background:#fff !important;
    padding: 0 20px;

}
.dropdown-wrap{
    float: right;
}

.dropdown-username{
    color: #ffffff;
    font-size: 16px;
    transition: all ease 0.2s;
    cursor: pointer;

    .dropdown-name-icon{
        margin-left: 6px;
    }
    
    &:hover{
        transition: all ease 0.2s;
        color: #40a9ff;
    }
}
