i{
    cursor:pointer;
    color:#515151;
    font-size:20px;
}

.head-wrap{
    display:flex;
    align-items:center;
    background:#fff !important;
    padding: 0 20px !important;

}

.header-menu{
    flex:1;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    cursor:pointer;

    .language{
        width:20px;
        height:20px;
        margin:0 30px; 
    }
    
    .avatar{
        width:40px;
        height:40px;
        border-radius:5px;
    }
}


